.wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;

  grid-template-areas:
    'h h h'
    'l m r'
    'f f f';
}

@media (max-width: 720px) {
  .wrapper {
    grid-template-areas:
      'h h h'
      'l l l'
      'm m m'
      'r r r'
      'f f f';

    grid-row: 1fr;
    grid-auto-rows: 1fr;
  }
}

.header {
  grid-area: h;
}

.main {
  grid-area: m;
}

.aside-1 {
  grid-area: l;
}

.aside-2 {
  grid-area: r;
}

.footer {
  grid-area: f;
}
