.wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.box:nth-child(1) {
  grid-row: 1 span;
  grid-column: 1 span;
}
.box:nth-child(2) {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}
.box:nth-child(3) {
  grid-row: 3 / 1 span;
  grid-column: 4/ 1 span;
}
